services:
  hocuspocus-backend:
    ports:
      - ${EXPRESS_PORT}:${EXPRESS_PORT}

    labels:
      # Enable Traefik for this container
      - "traefik.enable=true"

      # Express REST API (HTTP)
      - "traefik.http.routers.vettam-api.rule=Host(`collaboration.api.vettam.app.local`)"
      - "traefik.http.routers.vettam-api.entrypoints=web"
      - "traefik.http.routers.vettam-api.service=vettam-api"
      - "traefik.http.services.vettam-api.loadbalancer.server.port=${EXPRESS_PORT}"
    develop:
      watch:
        - action: rebuild
          path: src/
          target: /app/src/
          ignore:
            - node_modules/
            - dist/
